#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.jrtc
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.class
*.info
*.properties




/4.JavaCollections/
/5.OnlineInternship/
/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
